@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Flow';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/flow-circular.otf') format('otf');
}
@tailwind utilities;
